/** **/

body {
    background: #167f7b;
}

.message {
    text-align: center;
    padding: 1% 2%;
    margin-top: 2%;
}

.message.success {
    background: lightgreen;
}

.message.error {
    background: lightpink;
}

.country-label {
    display: block;
}

.country-select {
    display: block !important;
}

.country-select .country-list .country {
    color: #333;
}

.country-select.inside input, .country-select.inside input[type=text] {
    width: 100%;
}

.add-verset-container {
    margin: auto;
    margin-top: 4%;
    background: #0a4a4a;
    border: 1px solid #0e3b40;
    box-shadow: 1px 2px 6px #5d5c5c;
    padding: 3%;
    float: none !important;
    color: #FFF;
}

form input[type="text"],
form input[type="email"],
form textarea {
    display: block;
    width: 100%;
    padding: 1%;
    margin: 1% 0 2%;
    border: 1px solid #fefefe;
    box-shadow: none;
    color: #333;
}

form .country input[type="text"] {
    width: 70%;
}

form textarea {
    resize: none;
}

form input[type="submit"] {
    margin: 2% 0;
    padding: 1% 2%;
    background: #000;
    color: #FFF;
    border: none;
    box-shadow: none;
}

.evh-online {
    display: none;
    background: #eee;
    border: 1px solid #ccc;
    color: #333;
    padding: 12px 6px 1px 5px;
    margin: 29px 0;
    text-shadow: 1px 3px 5px #c3b8b8;
}

footer {
    text-align: center;
    margin-top: 2%;
}

.copyright {
    color: #EEE;
}

.copyright img {
    width: 5%;
    display: block;
    margin: auto;
}